.fullHeightContainer {
  height: 100vh;
}


.myBorder {
  border-radius: 20px;
}

.myFontColor {
  color: #063785;
}

.myFontSize {
  font-size: 18px;
  font-weight: 600;
}

.myCustomBg {
  background-color: rgba(0, 158, 220, 0.857);
}

.myBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myDisplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myFadeAnimation {
  animation-name: fade;
  animation-duration: 1s;
}

.myFastFadeAnimation {
  animation-name: fade;
  animation-duration: 0.5s;
}

.myLMoveAnimation {
  animation-name: move;
  animation-duration: 1s;
  animation-delay: 100;
}

.myRMoveAnimation {
  animation-name: rMove;
  animation-duration: 1s;
  animation-delay: 100;
}

.myMoveAnimation2Delay {
  animation-name: move;
  animation-duration: 1.3s;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

.invalidForm {
  animation-name: nono;
  animation-duration: 0.5s;
}

.dropdown-item:hover {
  background: #209cdc;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move {
  from {
    opacity: hidden;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes rMove {
  from {
    opacity: hidden;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes nono {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-15%);
  }
  70% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }
}

/* slide animation
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */
